<div class="tabs">
  <div class="tab_item tab_products2"><%= link_to("PRODUCTS", products_path) %></div>

  <div class="tab_item tab_about2"><%= link_to("ABOUT ME", "#") %></div>

  <div class="tab_item tab_contact2"><%= link_to("CONTACT", contact_path) %></div>
</div>

<div class="main wrapper">
  <div class="container">
    <ul>
      <div class="list-unit">
        <li>I am</li>
        <div class="photo-and-name">
          <div class="photo">
            <img src="/oba.png">
          </div>
          <div class="name">
            <p>Offline Name: Ryotaro Oka</p>
            <p>Online Name: okaryo / オカリヨ</p>
          </div>
        </div>
      </div>
      <div class="list-unit">
        <li>Experience</li>
        <div class="about-unit">
          <p class="about-main">Web engineer (Aug. 2019 - present)</p>
          <p class="about-sub">internship</p>
        </div>
        <div class="about-unit">
          <p class="about-main">cram school teacher (May 2018 - Mar. 2019)</p>
          <p class="about-sub">part time job</p>
        </div>
        <div class="about-unit">
          <p class="about-main">baker (May 2015 - Feb. 2017)</p>
          <p class="about-sub">part time job</p>
        </div>
      </div>
      

      <div class="list-unit">
        <li>Education</li>
        <div class="about-unit">
          <p class="about-main">The University of Tokyo, Faculty of Law (Apr. 2018 - present)</p>
          <p class="about-sub">DepartmentⅠ: General Legal Studies Course</p>
        </div>
        <div class="about-unit">
          <p class="about-main">Taking a year off from university (Apr. 2017 - Mar. 2018)</p>
          <p class="about-sub">Lost the meaning of life</p>
        </div>
        <div class="about-unit">
          <p class="about-main">The University of Tokyo, Faculty of Arts and Sciences (Apr. 2015 - Mar. 2017)</p>
          <p class="about-sub">Human Sciences Ⅰ</p>
        </div>
        <div class="about-unit">
          <p class="about-main">SUNDAI Ochanomizu3 LB→LA (Apr. 2014 - Mar. 2015)</p>
          <p class="about-sub">Ronin</p>
        </div>
      </div>
      
      <div class="list-unit">
        <li>Online Activity</li>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="https://twitter.com/okaryo_tr"  target="_blank"></a><a class="about-link" href="https://twitter.com/okaryo_tr" target="_blank">Twitter</a></div>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="https://bookmeter.com/users/739784" target="_blank"></a><a class="about-link" href="https://bookmeter.com/users/739784" target="_blank">Bookmeter</a></div>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="http://www.jognote.com/users/436622" target="_blank"></a><a class="about-link" href="http://www.jognote.com/users/436622" target="_blank">Jognote</a></div>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="https://store.line.me/stickershop/author/119727" target="_blank"></a><a class="about-link" href="https://store.line.me/stickershop/author/119727" target="_blank">LINE STAMP</a></div>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="https://okaryo.hatenablog.com/" target="_blank"></a><a class="about-link" href="https://okaryo.hatenablog.com/" target="_blank">Blog</a></div>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="https://anchor.fm/booking-talk" target="_blank"></a><a class="about-link" href="https://anchor.fm/booking-talk" target="_blank">Podcast</a></div>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="https://github.com/okaryo" target="_blank"></a><a class="about-link" href="https://github.com/okaryo" target="_blank">GitHub</a></div>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="https://qiita.com/okaryo" target="_blank"></a><a class="about-link" href="https://qiita.com/okaryo" target="_blank">Qiita</a></div>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="https://atcoder.jp/users/okaryo" target="_blank"></a><a class="about-link" href="https://atcoder.jp/users/okaryo" target="_blank">AtCoder</a></div>
        <div class="link-set"><a class="fas fa-external-link-square-alt" href="https://www.amazon.jp/hz/wishlist/ls/3F7T4Z1GG7ORH?ref_=wl_share"  target="_blank"></a><a class="about-link" href="https://www.amazon.jp/hz/wishlist/ls/3F7T4Z1GG7ORH?ref_=wl_share" target="_blank">Wish List</a></div>
      </div>
    </ul>
  </div>
</div>