<div class="tabs">
  <div class="tab_item tab_products3"><%= link_to("PRODUCTS", "/") %></div>

  <div class="tab_item tab_about3"><%= link_to("ABOUT ME", "/about") %></div>

  <div class="tab_item tab_contact3"><%= link_to("CONTACT", "/contact") %></div>
</div>

<div class="main wrapper">
  <div class="container">
    <div class="note">
      <p>Feel free to contact me!</p>
    </div>
  
    <div class="form contact-form">
      <div class="form-body">
        
        <!%= form_tag("/login") do %>
          <p>E-mail</p>
          <input name="email" value="未実装のためご用の方はTwitterまでどうぞ">
          <p>Subject</p>
          <input name="subject" value="未実装のためご用の方はTwitterまでどうぞ">
          <p>Message</p>
          <textarea name="body" rows="8">not implemented, so please go to Twitter</textarea>
          <input type="submit" value="Not Send">
        <!% end %>
      </div>
    </div>
  </div>
  
</div>