<footer class="footer clearfix">
  <div class="footer-menus">
    <div class="footer-menu">
      <div class="footer_items">
        <p class="footer_item_title">Portfolio</p>
        <p class="footer_item">Products</p>
        <p class="footer_item">Profile</p>
        <p class="footer_item">Contact</p>
      </div>
    </div>
    <div class="footer-menu">
      <div class="footer_items">
        <p class="footer_item_title">Products</p>
        <p class="footer_item">BTNG</p>
        <p class="footer_item">mkidea</p>
        <p class="footer_item">BookList</p>
        <p class="footer_item">Original Character</p>
      </div>
    </div>
    <div class="footer-menu">
      <div class="footer_items">
        <p class="footer_item_title">Social</p>
        <p class="footer_item">Twitter</p>
        <p class="footer_item">Bookmeter</p>
        <p class="footer_item">Jognote<p/>
        <p class="footer_item">LINE STAMP<p/>
        <p class="footer_item">Blog<p/>
        <p class="footer_item">Podcast<p/>
        <p class="footer_item">Github<p/>
        <p class="footer_item">Qiita<p/>
        <p class="footer_item">AtCoder<p/>
        <p class="footer_item">Wish List<p/>
      </div>
    </div>
  </div>
  <p class="copyright">Copyright ©︎2019 OKARYO</p>
</footer>